@charset "UTF-8";
/**
 *------
 * BGA framework: Gregory Isabelli & Emmanuel Colin & BoardGameArena
 * OrapaMine implementation : © Matheus Gomes matheusgomesforwork@gmail.com
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * orapamine.css
 *
 * OrapaMine stylesheet
 *
 */
@font-face {
  font-family: "Cookie Run";
  font-style: normal;
  font-weight: normal;
  src: url("img/cookie_run/cookierun-regular.otf") format("opentype");
}
@font-face {
  font-family: "Cookie Run";
  font-style: normal;
  font-weight: bold;
  src: url("img/cookie_run/cookierun-bold.otf") format("opentype");
}
:root {
  --boardHeight: 640px;
  --boardWidth: calc(1.25 * var(--boardHeight));
  --boardColor: rgba(200, 200, 200, 0.8);
}

.orp_gameArea {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.orp_gameArea * {
  box-sizing: border-box;
}

.orp_logHighlight {
  font-weight: bold;
}

.orp_boardContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 32px;
}

.orp_axis {
  position: absolute;
  display: grid;
  align-items: center;
  justify-content: center;
}
.orp_axis.orp_axis-x {
  grid-template-columns: repeat(10, calc(var(--boardWidth) / 10));
  left: 3.75%;
}
.orp_axis.orp_axis-x[data-position=top] {
  top: 0;
}
.orp_axis.orp_axis-x[data-position=bottom] {
  bottom: 0;
}
.orp_axis.orp_axis-y {
  grid-template-rows: repeat(8, calc(var(--boardHeight) / 8));
  top: 3.75%;
}
.orp_axis.orp_axis-y[data-position=left] {
  left: 0;
}
.orp_axis.orp_axis-y[data-position=right] {
  right: 0;
}

.orp_origin {
  font-family: "Cookie Run", sans-serif;
  color: white;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  -webkit-text-stroke: 1.5px navy;
  text-shadow: navy 1px 0 10px;
  padding: 0 1px;
}
.orp_origin-selectable {
  cursor: pointer;
}
.orp_origin-unselectable {
  cursor: not-allowed;
  opacity: 0.5;
}
.orp_origin-selected {
  border: 2px solid green;
}

.orp_board {
  display: grid;
  grid-template-columns: repeat(10, calc(var(--boardWidth) / 10));
  grid-template-rows: repeat(8, calc(var(--boardHeight) / 8));
  align-items: center;
  justify-content: center;
}

.orp_cell {
  background-color: var(--boardColor);
  border: 1.5px solid whitesmoke;
  aspect-ratio: 1;
  width: 100%;
}
.orp_cell-selectable {
  cursor: pointer;
}
.orp_cell-selected {
  background-color: rgba(0, 255, 0, 0.5) !important;
}
.orp_cell-unselectable {
  cursor: not-allowed;
  opacity: 0.75;
}
.orp_cell.orp_occupied {
  background-color: var(--pieceColor);
}
.orp_cell.orp_occupied:not(.orp_half) {
  border-color: var(--pieceColorDarker);
}
.orp_cell.orp_occupied.orp_half-1 {
  background: linear-gradient(to bottom right, var(--boardColor) 50%, var(--pieceColor) 50%);
  border-bottom-color: var(--pieceColorDarker);
  border-right-color: var(--pieceColorDarker);
}
.orp_cell.orp_occupied.orp_half-2 {
  background: linear-gradient(to bottom left, var(--boardColor) 50%, var(--pieceColor) 50%);
  border-bottom-color: var(--pieceColorDarker);
  border-left-color: var(--pieceColorDarker);
}
.orp_cell.orp_occupied.orp_half-3 {
  background: linear-gradient(to top right, var(--boardColor) 50%, var(--pieceColor) 50%);
  border-top-color: var(--pieceColorDarker);
  border-right-color: var(--pieceColorDarker);
}
.orp_cell.orp_occupied.orp_half-4 {
  background: linear-gradient(to top left, var(--boardColor) 50%, var(--pieceColor) 50%);
  border-top-color: var(--pieceColorDarker);
  border-left-color: var(--pieceColorDarker);
}
