@charset "UTF-8";
/**
 *------
 * BGA framework: Gregory Isabelli & Emmanuel Colin & BoardGameArena
 * OrapaMine implementation : © Matheus Gomes matheusgomesforwork@gmail.com
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * orapamine.css
 *
 * OrapaMine stylesheet
 *
 */
@font-face {
  font-family: "Cookie Run";
  font-style: normal;
  font-weight: normal;
  src: url("img/cookie_run/cookie_run_regular") format("opentype");
}
@font-face {
  font-family: "Cookie Run";
  font-style: normal;
  font-weight: bold;
  src: url("img/cookie_run/cookie_run_bold") format("opentype");
}
:root {
  --boardHeight: 640px;
  --boardWidth: calc(1.25 * var(--boardHeight));
  background: #2d336b;
}

.orp_gameArea {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.orp_gameArea * {
  box-sizing: border-box;
}

.orp_boardContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 32px;
}

.orp_axis {
  position: absolute;
  display: grid;
  align-items: center;
  justify-content: center;
}
.orp_axis.orp_axis-x {
  grid-template-columns: repeat(10, calc(var(--boardWidth) / 10));
  left: 3.75%;
}
.orp_axis.orp_axis-x[data-position=top] {
  top: 3%;
}
.orp_axis.orp_axis-x[data-position=bottom] {
  bottom: 3%;
}
.orp_axis.orp_axis-y {
  grid-template-rows: repeat(8, calc(var(--boardHeight) / 8));
  top: 3.75%;
}
.orp_axis.orp_axis-y[data-position=left] {
  left: 0;
}
.orp_axis.orp_axis-y[data-position=right] {
  right: 0;
}
.orp_axis .orp_axisValue {
  font-family: "Cookie Run", sans-serif;
  color: white;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  -webkit-text-stroke: 1.5px navy;
  text-shadow: navy 1px 0 10px;
}

.orp_board {
  display: grid;
  grid-template-columns: repeat(10, calc(var(--boardWidth) / 10));
  grid-template-rows: repeat(8, calc(var(--boardHeight) / 8));
  align-items: center;
  justify-content: center;
}

.orp_cell {
  background-color: rgb(211, 211, 211);
  border: 1px solid white;
  opacity: 0.4;
  aspect-ratio: 1;
  width: 100%;
  z-index: -1;
}
