@charset "UTF-8";
/**
 *------
 * BGA framework: Gregory Isabelli & Emmanuel Colin & BoardGameArena
 * OrapaMine implementation : © Matheus Gomes matheusgomesforwork@gmail.com
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * orapamine.css
 *
 * OrapaMine stylesheet
 *
 */
#bga-zoom-wrapper {
  position: relative;
}

#bga-zoom-wrapper .bga-zoom-inner {
  transform-origin: left top;
}

#bga-zoom-wrapper .bga-zoom-inner[data-smooth=true] {
  transition: transform 0.5s;
}

#bga-zoom-wrapper #bga-zoom-controls {
  position: absolute;
  top: 0;
}

#bga-zoom-wrapper #bga-zoom-controls[data-position=top-left] {
  left: 0;
}

#bga-zoom-wrapper #bga-zoom-controls[data-position=top-right] {
  right: 0;
}

#bga-zoom-wrapper #bga-zoom-controls button {
  border: 0;
}

#bga-zoom-wrapper #bga-zoom-controls button:not(.disabled) {
  cursor: pointer;
}

#bga-zoom-wrapper #bga-zoom-controls button.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

#bga-zoom-wrapper #bga-zoom-controls .bga-zoom-out-icon {
  width: 40px;
  height: 40px;
  background: url('data:image/svg+xml;utf8,<svg width="100%" height="100%" viewBox="65 0 70 70" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;"><g><g transform="matrix(1,0,0,1,-4.97116,-76.2244)"><path d="M118,118C122.1,113.8 124.3,108.7 124.3,102.8C124.3,96.8 122.1,91.8 118,87.6C113.8,83.4 108.7,81.3 102.8,81.3C96.8,81.3 91.8,83.4 87.6,87.6C83.3,91.8 81.3,96.8 81.3,102.8C81.3,108.7 83.3,113.8 87.6,118C91.8,122.2 96.8,124.3 102.8,124.3C108.7,124.3 113.8,122.2 118,118" style="fill:none;fill-rule:nonzero;stroke:black;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-4.97116,-76.2244)"><path d="M118,118L132.3,132.3" style="fill:none;fill-rule:nonzero;stroke:black;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-4.97116,-76.2244)"><path d="M114.5,102.1L90.8,102.1" style="fill:none;fill-rule:nonzero;stroke:black;stroke-width:7px;"/></g></g></svg>');
}

#bga-zoom-wrapper #bga-zoom-controls .bga-zoom-in-icon {
  width: 40px;
  height: 40px;
  background: url('data:image/svg+xml;utf8,<svg width="100%" height="100%" viewBox="0 0 70 70" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;"><g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M23.8,102.1L35.7,102.1" style="fill:none;fill-rule:nonzero;stroke:black;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M35.7,102.1L47.5,102.1" style="fill:none;fill-rule:nonzero;stroke:black;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M35.7,102.1L35.7,90.3" style="fill:none;fill-rule:nonzero;stroke:black;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M51,118C55.2,113.8 57.3,108.7 57.3,102.8C57.3,96.8 55.2,91.8 51,87.6C46.8,83.4 41.7,81.3 35.8,81.3C29.9,81.3 24.8,83.4 20.6,87.6C16.4,91.8 14.3,96.8 14.3,102.8C14.3,108.7 16.4,113.8 20.6,118C24.8,122.2 29.9,124.3 35.8,124.3C41.7,124.3 46.8,122.2 51,118" style="fill:none;fill-rule:nonzero;stroke:black;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M35.7,113.9L35.7,102.1" style="fill:none;fill-rule:nonzero;stroke:black;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M65.3,132.3L51,118" style="fill:none;fill-rule:nonzero;stroke:black;stroke-width:7px;"/></g></g></svg>');
}

#bga-zoom-wrapper #bga-zoom-controls[data-color=white] .bga-zoom-out-icon {
  width: 40px;
  height: 40px;
  background: url('data:image/svg+xml;utf8,<svg width="100%" height="100%" viewBox="65 0 70 70" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;"><g><g transform="matrix(1,0,0,1,-4.97116,-76.2244)"><path d="M118,118C122.1,113.8 124.3,108.7 124.3,102.8C124.3,96.8 122.1,91.8 118,87.6C113.8,83.4 108.7,81.3 102.8,81.3C96.8,81.3 91.8,83.4 87.6,87.6C83.3,91.8 81.3,96.8 81.3,102.8C81.3,108.7 83.3,113.8 87.6,118C91.8,122.2 96.8,124.3 102.8,124.3C108.7,124.3 113.8,122.2 118,118" style="fill:none;fill-rule:nonzero;stroke:white;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-4.97116,-76.2244)"><path d="M118,118L132.3,132.3" style="fill:none;fill-rule:nonzero;stroke:white;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-4.97116,-76.2244)"><path d="M114.5,102.1L90.8,102.1" style="fill:none;fill-rule:nonzero;stroke:white;stroke-width:7px;"/></g></g></svg>');
}

#bga-zoom-wrapper #bga-zoom-controls[data-color=white] .bga-zoom-in-icon {
  width: 40px;
  height: 40px;
  background: url('data:image/svg+xml;utf8,<svg width="100%" height="100%" viewBox="0 0 70 70" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;"><g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M23.8,102.1L35.7,102.1" style="fill:none;fill-rule:nonzero;stroke:white;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M35.7,102.1L47.5,102.1" style="fill:none;fill-rule:nonzero;stroke:white;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M35.7,102.1L35.7,90.3" style="fill:none;fill-rule:nonzero;stroke:white;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M51,118C55.2,113.8 57.3,108.7 57.3,102.8C57.3,96.8 55.2,91.8 51,87.6C46.8,83.4 41.7,81.3 35.8,81.3C29.9,81.3 24.8,83.4 20.6,87.6C16.4,91.8 14.3,96.8 14.3,102.8C14.3,108.7 16.4,113.8 20.6,118C24.8,122.2 29.9,124.3 35.8,124.3C41.7,124.3 46.8,122.2 51,118" style="fill:none;fill-rule:nonzero;stroke:white;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M35.7,113.9L35.7,102.1" style="fill:none;fill-rule:nonzero;stroke:white;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M65.3,132.3L51,118" style="fill:none;fill-rule:nonzero;stroke:white;stroke-width:7px;"/></g></g></svg>');
}

@font-face {
  font-family: "Cookie Run";
  font-style: normal;
  font-weight: normal;
  src: url("img/cookie_run/cookierun-regular.otf") format("opentype");
}
@font-face {
  font-family: "Cookie Run";
  font-style: normal;
  font-weight: bold;
  src: url("img/cookie_run/cookierun-bold.otf") format("opentype");
}
:root {
  --boardHeight: 640px;
  --boardWidth: calc(1.25 * var(--boardHeight));
  --boardColor: rgba(200, 200, 200, 0.8);
  --cellWidth: calc(var(--boardWidth) / 10);
}

.orp_gameArea {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, 860px);
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 0 8px;
  width: 100%;
}
.orp_gameArea * {
  box-sizing: border-box;
}

.orp_logHighlight {
  font-weight: bold;
  text-transform: capitalize;
}

.orp_panelButtons {
  display: flex;
  justify-content: center;
  gap: 4px;
  margin-top: 4px;
  width: fit-content;
}

.orp_panelButton {
  font-size: 24px;
  margin: 0;
  padding: 0;
  aspect-ratio: 1;
  width: 40px !important;
}
.orp_panelButton .orp_icon {
  font-style: normal;
  display: block;
}
.orp_panelButton .orp_icon-trash::after {
  content: "🗑";
}
.orp_panelButton .orp_icon-disk::after {
  content: "💾";
}

.orp_boardContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 32px;
}

.orp_axis {
  position: absolute;
  display: grid;
  align-items: center;
  justify-content: center;
}
.orp_axis.orp_axis-x {
  grid-template-columns: repeat(10, var(--cellWidth));
  left: 3.75%;
}
.orp_axis.orp_axis-x[data-position=top] {
  top: -0.5%;
}
.orp_axis.orp_axis-x[data-position=bottom] {
  bottom: -0.5%;
}
.orp_axis.orp_axis-y {
  grid-template-rows: repeat(8, calc(var(--boardHeight) / 8));
  top: 3.75%;
}
.orp_axis.orp_axis-y[data-position=left] {
  left: -1%;
}
.orp_axis.orp_axis-y[data-position=right] {
  right: -1%;
}

.orp_origin {
  font-family: "Cookie Run", sans-serif;
  color: white;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  -webkit-text-stroke: 1.5px navy;
  text-shadow: navy 1px 0 10px;
  margin: auto auto;
  padding: 0 4px;
  width: fit-content;
}
.orp_origin-selectable {
  cursor: pointer;
}
.orp_origin-unselectable {
  cursor: not-allowed;
  opacity: 0.5;
}
.orp_origin-selected {
  -webkit-text-stroke-color: black;
  text-shadow: black 1px 0 10px;
  transform: scale(1.2);
  transition-duration: 0.5s;
}

.orp_board {
  display: grid;
  grid-template-columns: repeat(10, var(--cellWidth));
  grid-template-rows: repeat(8, calc(var(--boardHeight) / 8));
  align-items: center;
  justify-content: center;
}

.orp_cell {
  position: relative;
  background-color: var(--boardColor);
  border: 1.5px solid whitesmoke;
  aspect-ratio: 1;
  width: 100%;
}
.orp_cell-selectable {
  cursor: pointer;
}
.orp_cell-selected {
  border: 2px solid black;
  box-shadow: 0 0 8px 0 black;
  transform: scale(1.1);
  transition-duration: 0.5s;
  z-index: 1;
}
.orp_cell-unselectable {
  cursor: not-allowed;
}

.orp_innerCell {
  aspect-ratio: 1;
  border: 1px solid;
  border-radius: 100%;
  opacity: 0.75;
  width: 100%;
}

.orp_piece ~ .orp_innerCell {
  display: none;
}

.orp_solutionPieces {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8px;
  max-width: var(--boardWidth);
}

.orp_gemstone {
  display: grid;
  touch-action: none;
  will-change: transform;
}

.orp_piece {
  background-color: var(--pieceColor);
  aspect-ratio: 1;
  border: 1.5px solid whitesmoke;
  cursor: pointer;
  touch-action: none;
  width: var(--cellWidth);
}
.orp_piece-empty {
  visibility: hidden;
}
.orp_piece:not(.orp_piece-half, .orp_piece-empty) {
  border-color: var(--pieceColorDarker);
}
.orp_piece-half[data-piece="1"] {
  background: linear-gradient(to bottom right, var(--boardColor) 50%, var(--pieceColor) 50%);
  border-bottom-color: var(--pieceColorDarker);
  border-right-color: var(--pieceColorDarker);
}
.orp_piece-half[data-piece="2"] {
  background: linear-gradient(to bottom left, var(--boardColor) 50%, var(--pieceColor) 50%);
  border-bottom-color: var(--pieceColorDarker);
  border-left-color: var(--pieceColorDarker);
}
.orp_piece-half[data-piece="3"] {
  background: linear-gradient(to top right, var(--boardColor) 50%, var(--pieceColor) 50%);
  border-top-color: var(--pieceColorDarker);
  border-right-color: var(--pieceColorDarker);
}
.orp_piece-half[data-piece="4"] {
  background: linear-gradient(to top left, var(--boardColor) 50%, var(--pieceColor) 50%);
  border-top-color: var(--pieceColorDarker);
  border-left-color: var(--pieceColorDarker);
}

.orp_dragContainer {
  transform: scale(1) !important;
}
