.orp_colorblind {
    font-size: 12px;
    font-weight: bold;
    display: none;
    position: absolute;
    bottom: 2%;
    left: 2%;
    background-color: whitesmoke;
    padding: 0 2px;
    z-index: 1;
}

.orp_pref-colorblind {
    .orp_colorblind{
        display: block;
    }
}