/**
 *------
 * BGA framework: Gregory Isabelli & Emmanuel Colin & BoardGameArena
 * OrapaMine implementation : © Matheus Gomes matheusgomesforwork@gmail.com
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * orapamine.css
 *
 * OrapaMine stylesheet
 *
 */
@use "bga-zoom";

@font-face {
  font-family: "Cookie Run";
  font-style: normal;
  font-weight: normal;
  src: url("img/cookie_run/cookierun-regular.otf") format("opentype");
}

@font-face {
  font-family: "Cookie Run";
  font-style: normal;
  font-weight: bold;
  src: url("img/cookie_run/cookierun-bold.otf") format("opentype");
}

:root {
  --boardHeight: 640px;
  --boardWidth: calc(1.25 * var(--boardHeight));
  --boardContainerWidth: calc(var(--boardWidth) + 120px);
  --boardColor: rgba(200, 200, 200, 0.8);
  --cellWidth: calc(var(--boardWidth) / 10);
}

.orp_gameArea {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, 860px);
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 0 8px;
  width: 100%;

  * {
    box-sizing: border-box;
  }
}

.orp_logHighlight {
  font-weight: bold;
  text-transform: capitalize;
}

.orp_playerChances {
  margin-left: 8px;

  &-icon {
    color: #c92727;
  }
}

.orp_boardContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1.25;
  width: var(--boardContainerWidth);
}

.orp_boardButtons {
  position: absolute;
  height: 100%;
  width: 100%;

  .orp_boardButton {
    font-size: 24px;
    position: absolute;
    margin: 0;

    &-clear {
      top: 0.5%;
      left: 1%;
    }

    &-save {
      top: 0.5%;
      right: 1%;
    }

    &-simplify {
      bottom: 0.5%;
      left: 1%;
    }

    &-hide {
      bottom: 0.5%;
      right: 1%;
    }
  }
}

.orp_axis {
  position: absolute;
  display: grid;
  align-items: center;
  justify-content: center;

  &.orp_axis-x {
    grid-template-columns: repeat(10, var(--cellWidth));
    left: 6.5%;

    &[data-position="top"] {
      top: 1%;
    }

    &[data-position="bottom"] {
      bottom: 1%;
    }
  }

  &.orp_axis-y {
    grid-template-rows: repeat(8, calc(var(--boardHeight) / 8));
    top: 6.5%;

    &[data-position="left"] {
      left: 2%;
    }

    &[data-position="right"] {
      right: 2%;
    }
  }
}

.orp_origin {
  font-family: "Cookie Run", sans-serif;
  color: white;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  -webkit-text-stroke: 1.5px navy;
  text-shadow: navy 1px 0 10px;

  margin: auto auto;
  padding: 0 4px;
  width: fit-content;

  &-selectable {
    cursor: pointer;
  }

  &-unselectable {
    cursor: not-allowed;
    opacity: 0.5;
  }

  &-selected {
    -webkit-text-stroke-color: black;
    text-shadow: black 1px 0 10px;
    transform: scale(1.2);
    transition-duration: 0.5s;
  }
}

.orp_board {
  display: grid;
  grid-template-columns: repeat(10, var(--cellWidth));
  grid-template-rows: repeat(8, calc(var(--boardHeight) / 8));
  align-items: center;
  justify-content: center;
}

.orp_cell {
  position: relative;
  background-color: var(--boardColor);
  border: 1px solid whitesmoke;
  aspect-ratio: 1;
  width: 100%;

  &-selectable {
    cursor: pointer;
  }

  &-selected {
    border: 2px solid black;
    box-shadow: 0 0 8px 0 black;
    transform: scale(1.1);
    transition-duration: 0.5s;
    z-index: 1;
  }

  &-unselectable {
    cursor: not-allowed;
  }
}

.orp_innerCell {
  aspect-ratio: 1;
  border: 1px solid;
  border-radius: 100%;
  opacity: 0.75;
  width: 100%;
}

.orp_piece:not(.orp_piece-hidden) ~ .orp_innerCell {
  display: none;
}

.orp_solutionPieces {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8px;
  max-width: var(--boardWidth);
}

.orp_gemstone {
  display: grid;
  touch-action: none;
  will-change: transform;
  gap: 1px;
}

.orp_piece {
  position: relative;
  aspect-ratio: 1;
  background-color: var(--pieceColor);
  border: 0 solid var(--pieceColorDarker);
  cursor: pointer;
  touch-action: none;
  width: var(--cellWidth);

  &-drag {
    cursor: grabbing;
  }

  &-empty {
    cursor: initial;
  }

  &-hiddenControls {
    .orp_pieceButton {
      visibility: hidden;
    }
  }

  &-hidden {
    display: none;
  }

  &-unselectable {
    cursor: not-allowed;
  }

  &-selected {
    cursor: pointer;
    transform: scale(1.1);
    outline: 2px dashed green;
    z-index: 1;
  }

  &-half {
    background: none;

    &[data-piece="1"] {
      background: linear-gradient(
        to bottom right,
        #ffffff00 50%,
        var(--pieceColor) 50%
      );
      // border-bottom: 2px solid var(--pieceColorDarker);
      // border-right: 2px solid var(--pieceColorDarker);
    }

    &[data-piece="2"] {
      background: linear-gradient(
        to bottom left,
        #ffffff00 50%,
        var(--pieceColor) 50%
      );
      // border-bottom: 2px solid var(--pieceColorDarker);
      // border-left: 2px solid var(--pieceColorDarker);
    }

    &[data-piece="3"] {
      background: linear-gradient(
        to top right,
        #ffffff00 50%,
        var(--pieceColor) 50%
      );
      // border-top: 2px solid var(--pieceColorDarker);
      // border-right: 2px solid var(--pieceColorDarker);
    }

    &[data-piece="4"] {
      background: linear-gradient(
        to top left,
        #ffffff00 50%,
        var(--pieceColor) 50%
      );
      // border-top: 2px solid var(--pieceColorDarker);
      // border-left: 2px solid var(--pieceColorDarker);
    }
  }
}

.orp_pieceButton {
  font-size: 16px;
  position: absolute;
  top: 1%;
  margin: 0;
  padding: 4px;

  &-delete {
    left: 1%;
  }

  &-rotate {
    right: 1%;
  }

  &-hidden {
    visibility: hidden;
  }
}

.orp_dragContainer {
  transform: scale(1) !important;
}

.orp_questionLogContainer {
  font-family: "Cookie Run", serif;
  position: absolute;
  top: 0;
  left: 55px;
  background-color: #4871b6;
  border-radius: 6px;
  color: white;
  margin: 0;
  padding: 4px;
  z-index: 1;

  .orp_questionLogTitle {
    font-size: 20px;
    margin: 0;
  }
}

.orp_questionLog {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  overflow-y: auto;
  max-height: var(--boardHeight);
  margin-top: 16px;

  &-hidden,
  &:empty {
    display: none;
  }
}

.orp_questionLogButton {
  font-size: 24px;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
}
