.orp_draftPieces {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 64px;
  order: 2;
  margin: 0 auto;
  padding: 16px 8px 8px 8px;
  max-width: var(--boardWidth);

  &-hidden {
    display: none;
  }
}

.orp_gemstone {
  position: relative;
  display: grid;
  touch-action: none;
}

.orp_gemstoneButton {
  font-size: 20px;
  position: absolute;
  margin: 0;
  z-index: 1;

  i {
    pointer-events: none;
  }

  &-rotate {
    top: -8px;
    right: -8px;
  }

  &-move {
    cursor: grab;
    top: -8px;
    left: -8px;
  }

  &-flip {
    bottom: -8px;
    right: -8px;
  }
}

.orp_blankSpace {
  font-family: "Cookie Run", sans-serif;
  font-size: 56px;
  text-align: center;
  user-select: none;
  background: none;
}

.orp_piece {
  position: relative;
  aspect-ratio: 1;
  background-color: var(--pieceColor);
  border: 0 solid var(--pieceColorDarker);
  width: var(--cellWidth);
  cursor: pointer;
  touch-action: none;

  &-empty {
    cursor: initial;
  }

  &-drag {
    cursor: grabbing;
    z-index: 2;
  }

  &-hidden {
    display: none;
  }

  &-unselectable {
    cursor: not-allowed;
  }

  &-selected {
    cursor: pointer;
    transform: scale(1.1);
    outline: 3px dashed limegreen;
    z-index: 1;
  }

  &-half {
    background: none;

    &[data-piece="1"] {
      background: linear-gradient(
        to bottom right,
        #ffffff00 50%,
        var(--pieceColor) 50%
      );
    }

    &[data-piece="2"] {
      background: linear-gradient(
        to bottom left,
        #ffffff00 50%,
        var(--pieceColor) 50%
      );
    }

    &[data-piece="3"] {
      background: linear-gradient(
        to top right,
        #ffffff00 50%,
        var(--pieceColor) 50%
      );
    }

    &[data-piece="4"] {
      background: linear-gradient(
        to top left,
        #ffffff00 50%,
        var(--pieceColor) 50%
      );
    }
  }
}

.orp_pieceButton {
  font-size: 16px;
  position: absolute;
  top: 1%;
  margin: 0;
  padding: 4px;

  &-delete {
    left: 1%;
  }

  &-rotate {
    right: 1%;
  }

  &-hidden {
    visibility: hidden;
  }
}
