:root.orp_pref-thematicBackground-blue,
:root.orp_pref-thematicBackground-red {
  background-image: url("img/background.png");
  background-size: cover;

  .orp_questionLogContainer,
  .orp_title {
    color: white;
    -webkit-text-stroke: 1.5px var(--theme-color);
  }
}

:root.orp_pref-thematicBackground-red {
  --theme-color: darkred;

  background-image: url("img/background-red.png");
}

.orp_pref-colorblind {
  .orp_colorblindSupport {
    display: block;
  }
}

.orp_colorblindSupport {
  font-size: 16px;
  font-weight: bold;
  display: none;
  position: absolute;
  bottom: 2%;
  left: 2%;
  background-color: whitesmoke;
  padding: 0 2px;
  z-index: 1;
}

.orp_pref-draggable {
  .orp_piece:not(.orp_piece-drag) {
    cursor: grab;
  }
}
