:root.orp_pref-themedBackground-blue,
:root.orp_pref-themedBackground-red {
  background-image: url("img/background.png");
  background-size: 100%;
  background-attachment: fixed;

  @media (max-width: 700px) {
    background-size: 100% 100%;
    background-attachment: scroll;
  }

  .orp_questionLogContainer,
  .orp_title {
    color: white;
    -webkit-text-stroke: 1.5px var(--themeColor);
  }
}

:root.orp_pref-themedBackground-red {
  --themeColor: darkred;

  background-image: url("img/background-red.png");
}

.orp_pref-colorblind {
  .orp_colorblindSupport {
    display: block;
  }
}

.orp_colorblindSupport {
  font-size: 16px;
  font-weight: bold;
  display: none;
  position: absolute;
  bottom: 2%;
  left: 2%;
  background-color: whitesmoke;
  padding: 0 2px;
  z-index: 1;
}

[data-piece="6"] {
  .orp_colorblindSupport {
    display: none;
  }
}

.orp_pref-draggable {
  .orp_piece:not(.orp_piece-drag) {
    cursor: grab;
  }
}
