.orp_previousAnswersContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  order: 1;
  border-radius: 6px;
  margin: 0;
  padding: 8px 0;
  overflow-x: auto;
  min-height: var(--boardHeight);
  max-width: var(--boardContentWidth);

  &-hidden,
  &:has(.orp_previousAnswers:empty) {
    display: none;
  }

  .orp_boardContainer {
    margin: 0;
  }
}

.orp_previousAnswersTitle {
  font-family: "Cookie Run", serif;
  font-size: 32px;
  margin: 0 auto;
}

.orp_previousAnswers {
  display: flex;
  align-items: flex-end;
  gap: 8px;

  &:empty {
    display: none;
  }
}

.orp_lastSheetTitle {
  font-family: "Cookie Run", serif;
  font-size: 28px;
  text-transform: capitalize;
  color: var(--themeColor);
  margin: 0;
  -webkit-text-stroke: 0.5px white;
}
