.orp_previousAnswersContainer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 4px;
  order: 1;
  background-color: black;
  border-radius: 6px;
  margin: 0;
  padding: 8px 0;
  overflow-x: auto;
  max-width: var(--boardContainerWidth);

  &-hidden {
    display: none;
  }

  .orp_boardContainer {
    margin: 0;
  }
}

.orp_previousAnswersTitle {
  font-family: "Cookie Run", serif;
  color: white;
  font-size: 28px;
  margin: 0 auto;
}

.orp_previousAnswers {
  display: flex;
  align-items: center;
  gap: 8px;

  &:empty {
    display: none;
  }
}

.orp_previousAnswersButton {
  position: relative;
  bottom: 4px;
  font-size: 24px;
  margin: 0;
}
