.orp_questionLogContainer {
  font-family: "Cookie Run", serif;

  position: absolute;
  top: 0;
  left: 4px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  background-color: #f8f8f8aa;
  border-radius: 6px;
  margin: 0;
  padding: 4px;
  z-index: 1;
  scroll-margin: 64px;

  &-hidden {
    display: none;
  }

  .orp_questionLogTitle {
    font-size: 20px;
    margin: 0;
  }
}

.orp_questionLog {
  display: flex;
  flex-direction: column;
  gap: 8px;
  overflow-y: auto;
  max-height: var(--boardHeight);

  &:empty {
    display: none;
  }
}
